name: Get Branch Name and Commits

on:
  push:
    branches:
      - '*'

jobs:
  get-branch-name-and-commits:
    runs-on: ubuntu-latest
    steps:
      - name: Log start of script
        run: echo "GitHub Actions script is starting..."

      - name: Checkout repository
        uses: actions/checkout@v2
      
      - name: Get branch name
        id: branch
        run: echo "::set-output name=branch_name::$(echo $GITHUB_REF | cut -d/ -f3-)"
      
      - name: List commits
        id: commits
        run: git log
      
      - name: Make API call and Log branch name and GitHub ref
        run: |
          response=$(curl -X GET https://jsonplaceholder.typicode.com/todos/1)
          echo "API Response: $response"
          echo "Branch Name: ${{ steps.branch.outputs.branch_name }}, GitHub Ref: $GITHUB_REF"
